*{
    box-sizing: border-box;
}
body{
    background-color: lightgrey;
}
.news{
    width:20%;
    height:340px;
    background-color: white;
    margin:20px 2%;
    padding:20px;
    border-radius: 5px;
}
.newsImg{
    height:150px;
    width:100%;
    border-radius: 5px;
    background-color: #fff;
    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items:center;
}

.newsImg img{
    width:100%;
}
.title{
    overflow: hidden;
}
.desc{
    
    overflow: hidden;
}